@model PizzaShopRepository.ViewModels.ResetPassword;


@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetPassword Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RMS.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="box z-0">
        <div class="row h-100 w-100 g-0">
            <!-- Left side with the image -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col left-side d-none d-lg-block">
                <img src="~/images/dominos_background.jpg" alt="login-img" class="img-fluid z-2"
                    style="object-fit: cover;">
            </div>
            <!-- Right side with content -->
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col right-side d-flex align-items-center z-0">
                <!-- Background image for smaller screens -->
                <div class="bg-image d-block d-lg-none position-absolute w-100 h-100"
                    style="background-image: url('~/images/dominos_background.jpg'); background-size: cover; background-position: center; z-index: -1;">
                </div>
                <!-- Card for smaller screens -->
                @* <div class="container d-block d-lg-none">
                    <div class="card mx-auto p-4" style="max-width: 500px; background-color: rgba(255, 255, 255, 0.9); border-radius: 15px;">
                        <div class="d-flex align-items-center justify-content-center my-2" style="gap: 10px;">
                            <div><img src="~/images/logos/pizzashop_logo.png" alt="pizza-shop-logo" style="height:100px; aspect-ratio: 1;"></div>
                            <div class="fw-bolder fs-1 text-primary">PIZZASHOP</div>
                        </div>
                        <h2 class="my-2 fw-bolder">Welcome,</h2>
                        @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
                        }

                        <form asp-controller="Login" asp-action="ReserPassword">
                            <div class="mb-3">
                                <div class="d-flex align-items-center justify-content-end position-relative">
                                    <input type="password" name="Password" class="form-control" id="inputPassword" placeholder="New Password*" asp-for="Password">
                                    <img src="~/images/EyeOpen.svg" alt="eye-icon" id="togglePassword" style="width: 20px; aspect-ratio: 1; cursor: pointer;" class="me-2 position-absolute rounded-2">
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            
                            <div class="mb-3">
                                <div class="d-flex align-items-center justify-content-end position-relative">
                                    <input type="password" name="Password" class="form-control" id="inputPassword" placeholder="Confirm New Password*" asp-for="Password">
                                    <img src="~/images/EyeOpen.svg" alt="eye-icon" id="togglePassword" style="width: 20px; aspect-ratio: 1; cursor: pointer;" class="me-2 position-absolute rounded-2">
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                            <div class="w-100 d-flex justify-content-center">
                                    <a href="#" class="forgot-password text-decoration-none mt-2">Back To Login</a>
                            </div>
                        </form>
                    </div>
                </div> *@
                <!-- Default content for larger screens -->
                <div class="right-side-content d-none d-lg-flex flex-column w-100">
                    <div class="d-flex align-items-center justify-content-center my-2" style="gap: 10px;">
                        <div><img src="~/images/logos/pizzashop_logo.png" alt="pizza-shop-logo"
                                style="height:100px; aspect-ratio: 1;"></div>
                        <div class="fw-bolder fs-1 text-primary">PIZZASHOP</div>
                    </div>
                    <div class="mx-xl-5 mx-lg-3 px-xl-5 px-lg-3 mx-md-2 px-md-4 mx-sm-2 px-sm-2 mx-2 px-2">
                        <h2 class="my-2 fw-bolder">Welcome,</h2>
                        <form asp-controller="Login" asp-action="ResetPassword">
                            <input type="hidden" asp-for="Email" />

                            <div class="mb-3">
                                <div class="d-flex align-items-center justify-content-end position-relative">
                                    <input type="password" class="form-control" id="inputPassword"
                                        placeholder="New Password*" asp-for="NewPassword">
                                    <img src="~/images/EyeOpen.svg" alt="eye-icon" id="togglePassword"
                                        style="width: 20px; aspect-ratio: 1; cursor: pointer;"
                                        class="me-2 position-absolute rounded-2" data-target="NewPassword">
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <div class="d-flex align-items-center justify-content-end position-relative">
                                    <input type="password" class="form-control" placeholder="Confirm New Password*"
                                        id="inputPassword" asp-for="ConfirmPassword">
                                    <img src="~/images/EyeOpen.svg" alt="eye-icon" id="togglePassword"
                                        style="width: 20px; aspect-ratio: 1; cursor: pointer;"
                                        class="me-2 position-absolute rounded-2" data-target="ConfirmPassword">
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>
