@model IEnumerable<PizzaShopRepository.ViewModels.CategoryViewModel>

<div class="row g-0 category-side">
    @foreach (var category in Model)
    {
        <div class="row my-2 g-0">
            <div class="d-flex align-items-center justify-content-between category-option" data-category-id="@category.Id">
                <a href="#" onclick="loadItems(@category.Id)"><img src="~/images/grid.png" style="height: 20px; width: 20px;" alt="">@category.Name</a>
                <div class="edit-category"><img src="~/images/edit.svg" alt="" class="pe-2"></div>
            </div>
        </div>
    }
</div>

