@model PizzaShopRepository.ViewModels.CrudCategoryViewModel


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm" asp-controller="Menu" asp-action="UpdateCategory">
                    <input type="hidden" name="Id" value="@Model?.Id" />
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Name" name="Name" 
                               value="@Model?.Name" placeholder="Sandwich" asp-for="Name"/>
                        <label for="Name">Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Description" name="Description" 
                               value="@Model?.Description" placeholder="This is a sandwich category" asp-for="Description" />
                        <label for="Description">Description</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="text-danger">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-main text-white">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>