@model PizzaShopRepository.ViewModels.CrudCategoryViewModel

@if (TempData["ErrorMessage"] != null)
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error("@TempData["ErrorMessage"]");
    </script>
}

<div class="modal fade" id="exampleModal12" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Add Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addCategoryForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="Sandwich" asp-for="Name" />
                        <label for="Name">Name</label>
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" placeholder="This is a sandwich category"
                            asp-for="Description" />
                        <label for="Description">Description</label>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>