@model PizzaShopRepository.ViewModels.ChangePassword;

@{
    ViewData["Title"] = "Change Password";
}


<div class="container mt-0 pt-3 px-4 pb-5 w-100 box-shadow">
    <h2 class="mb-3 fw-bolder fs-2 page-text me-2">Change Password</h2>
    <p class="text-secondary">Enter a new password to update your account credentials</p>

    <div class="row ">
        <div class=" col-10 col-lg-6 col-md-10 col-sm-10">
            <form asp-controller="Home" asp-action="ChangePassword">
                <input type="hidden" />

                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-end position-relative form-floating">
                        <input type="password" class="form-control  floatingInput" id="inputPassword"
                            name="CurrentPassword" asp-for="CurrentPassword" placeholder="Current Password*">
                        <label for="CurrentPassword ">Current Password*</label>
                        <img src="~/images/icons/passShow.png" alt="eye-icon" id="togglePassword"
                            style="width: 20px; aspect-ratio: 1; cursor: pointer;"
                            class="me-2 position-absolute rounded-2" data-target="NewPassword">
                    </div>
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>

                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-end position-relative form-floating">
                        <input type="password" class="form-control floatingInput" id="inputPassword" name="NewPassword"
                            asp-for="NewPassword" placeholder="New Password*">
                        <label for="NewPassword ">New Password*</label>
                        <img src="~/images/icons/passShow.png" alt="eye-icon" id="togglePassword"
                            style="width: 20px; aspect-ratio: 1; cursor: pointer;"
                            class="me-2 position-absolute rounded-2" data-target="NewPassword">
                    </div>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="mb-3">
                    <div class="d-flex align-items-center justify-content-end position-relative form-floating">
                        <input type="password" class="form-control floatingInput" placeholder="Confirm New Password*"
                            name="ConfirmPassword" asp-for="ConfirmPassword" id="inputPassword">
                        <label for="CurrentPassword ">Confirm New Password*</label>
                        <img src="~/images/icons/passShow.png" alt="eye-icon" id="togglePassword"
                            style="width: 20px; aspect-ratio: 1; cursor: pointer;"
                            class="me-2 position-absolute rounded-2" data-target="ConfirmPassword">
                    </div>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" class="btn btn-primary ">Submit</button>
                <a type="button" class="btn btn-secondary " asp-action="Dashboard" asp-controller="Home">Cancel</a>
            </form>
        </div>
    </div>


</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>