@model PizzaShopRepository.ViewModels.TaxFeeAddEditViewModel

<div class="modal fade" id="editTaxModal" tabindex="-1" aria-labelledby="editTaxModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editTaxModalLabel">Edit Tax</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="editTaxFeeForm" asp-controller="TaxFee" asp-action="EditTaxFee" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control floatingInput" id="Name" name="Name"
                                    placeholder="Name" asp-for="Name" required />
                                <label for="Name">Name*</label>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="Type" name="Type" asp-for="Type" required>
                                    <option value="">Select Type</option>
                                    <option value="percentage">Percentage</option>
                                    <option value="fixed">Fixed</option>
                                </select>
                                <label for="Type">Type*</label>
                                <span asp-validation-for="Type" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control floatingInput" id="Value" name="Value"
                                    placeholder="Tax Amount" asp-for="Value" step="0.01" min="0" required />
                                <label for="Value">Tax Amount*</label>
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="form-check form-switch">
                                    <input asp-for="IsEnabled" class="form-check-input" type="checkbox" id="IsEnabled"
                                        style="width: 50px; height: 30px;" />
                                    <label class="form-check-label" for="IsEnabled"></label>
                                </div>
                                <div>IsEnabled</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <div class="form-check form-switch">
                                    <input asp-for="IsDefault" class="form-check-input" type="checkbox" id="IsDefault"
                                        style="width: 50px; height: 30px;" />
                                    <label class="form-check-label" for="IsDefault"></label>
                                </div>
                                <div>Default</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-main text-white">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>